[submodule "externals/lerobot"]
	path = externals/lerobot
	url = https://github.com/huggingface/lerobot.git
[submodule "externals/externals/Vlaser"]
	path = externals/externals/Vlaser
	url = https://github.com/OpenGVLab/Vlaser.git
